<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}SHIMA ESSENTIALS{% endblock %}</title>
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="{% url 'product_list' %}">Products</a>
        <a href="{% url 'cart' %}">Cart</a>
        <a href="{% url 'checkout' %}">Checkout</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'about' %}">About</a>
    </nav>

    <main>

        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock %}
    </main>

</body>

</html>